/*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2 #40455;
@define-color base3  #4b5160;


*{
    font-family: UbuntuMono;
}

window {
	/*border: 1px solid @highlight;*/
  padding: 8px;
  border: 3px solid #61afef;
  border-radius: 8px;
  background-color: rgba(16, 16, 32, 1);
}

#input {
  margin-bottom: 15px;
  padding:3px;
  border-radius: 5px;
  border:none;
  color: white;
}

#inner-box {
  background-color: @base3;
  margin: 2px;
}

#outer-box {
  margin: 5px;
  padding:15px;
  background-color: @base2;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry {
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    border: 2px solid #4040a9;
    background-color: rgba(16, 16, 32, 0.5);
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
