/** EWW.SCSS
Created by saimoom **/
/** General **/
.bar_class { 
    background-color: $background-bar;
    border-radius: 12px;
    margin: 0 5px 5px 5px;
    padding: 4px;
    box-shadow: 0 6px 5px 2px $shadow;
    font-size: $root-font-size;
}

.side {
    background-color: $background;
    border-width: 0px;
    padding: 15px 15px 15px 15px;
    border-radius: 16px;
    margin: 65px 15px 15px 15px;
    box-shadow: 0 6px 5px 2px $shadow;
}

.center_modules {
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $background;
    font-size: 18;
    border-radius: 10px;
    color: $white;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_class {
    color: $white;
    //font-size: 1.2em;
    font-weight: bold;
    margin: 2px 10px 0px 2px;
}

.clock_date_class {
    font-size: 1em;
    margin: 0px 20px -4px -1px;
    color: $white;
}

.notif_button {
    font-size: 28;
    margin: 0px 20px 0px 0px;
    color: $white;
}


.brightbar trough highlight {
    background-image: linear-gradient(to right, $yellow 30%, $white 50%, $yellow 100% *50);
    border-radius: 10px;
}

.volbar {
  min-width: 100px;
}

.volume_icon {
    font-size: 24;
    color: $teal;
    margin: 0px 10px 0px 5px;
}


.module_essid {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18;
    font-weight: bold;
    color: $purple;
    margin: 0px 0px 0px 5px;
}

.module-wifi {
    font-size: 24;
    color: $purple;
    margin: 0px 15px 0px 5px;
}

.icon-launcher {
    color: $white;
    font-size: 36px;
    margin: 0px 10px 0px 15px;
}

.iconsearch {
    color: $white;
    font-size: 24px;
    // margin: 0px 10px 0px 20px;
}

.bright_icon {
    // font-family: JetBrainsMono Nerd Font;
    font-size: 24;
    color: $yellow;
    margin: 0px 15px 0px 0px;
}


.bar-separator {
    color: $grey;
    // font-weight: bold;
    font-size: 24px;
    margin: 0px 8px 0px 8px;
}

.launcher_module {
    background-color: rgba(00, 00, 00, 0.0);
}


box.module {
  background-color: $widget-background;
  .icon {
    font-size: 1em;
    margin: 8px 15px;
  }

  &.cpu {
    color: $orange;
  }

  &.mem {
    color: $red;
  }

  &.bat {
    color: $green;
  }
}


.workspaces {
    //font-size: 28px;
    font-weight: normal;
    // margin: 10px 0px 0px 10px;
}

.ws-btn{
    margin: 0px 7px 0px 0px;
    color: $grey;

    /* Occupied */
    &.occupied {
      color: $white;
    }

    /* Focused */
    &.focused {
      color: $red;
    }
}




// Calendar
.cal {
    background-color: $background;
    font-family: JetBrainsMono Nerd Font;
    font-size: 22px;
    font-weight: normal;
    border-radius: 25px;

    .cal-in {
        padding: 10px 10px 10px 10px;
        color: $white;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 10px 10px 10px 10px;
            margin-left: 10px;
        }
    }
}

calender {
    color: $red;
}

calendar:selected {
    color: $red;
}

calendar.header {
    font-family: JetBrainsMono Nerd Font;
    color: $purple;
    font-weight: bold;
}

calendar.button {
    color: $purple;
    font-weight: bold;
}

calendar.highlight {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $black;
}


.widget_system {
  background-color: $background;
  border-radius: 25px;
  padding: 15px;

  .subtext {
    font-size: 1.25em;
    color: $white;
    margin: 2px 0px 0px 25px;
  }

  .text {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0px 0px 0px 25px;
  }

  .icon {
    font-size: 2.3em;
    margin: 30px;
  }

  .row {
    margin: 5px 0;
    &.bat .sys_col {
      color: $green;
    }

    &.cpu .sys_col {
      color: $orange;
    }

    &.mem .sys_col {
      color: $red;
    }

    .cpu_chart {
      padding: 20px 15px;
    }
  }
}




.app-name {
    color: $orange2;
    //font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
}

.app-icon {
    margin: 8px 10px 0px 0px;
}

.app-button {
    color: $orange2;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 12px 0px 12px;
}

.color-var1 {
    color: $green;
}

.color-var2 {
    color: $purple;
}

.color-var3 {
    color: $red;
}

.launcher-icon {
    margin-left: 10px;
}

.widget-audio-box {
  background-color: $background;
  border-radius: 16px;
  padding: 15px;

  scale {
    font-size: 1.15em;
  }

  .icon {
    color: $blue;
    margin: 5px 20px 5px 5px;
    font-size: 4em;
  }

  .text {
    color: $blue;
    font-size: 26px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
  }
}


.widget-separator {
    background-color: $grey; //lighten($widget-background, 30%);
    padding: 0px;
    margin: 5px 0;
    border: 1px dotted $purple;
    //margin: 0px 0px 0px 0px;
}
// weather
.weather {
    all: unset;
    background-color: $widget-background;
    border-radius: 12px;
    padding: 23px 37px 20px 37px;
    box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}

.iconweather {
    font-family: JetBrainsMono Nerd Font;
    font-size: 44px;
    font-weight: normal;
    margin: 0px -5px 0px 20px;
}

.label_temp {
    color: $blue;
    font-size: 35px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    font-family: Furamono Nerd Font;

}

.label_stat {
    color: $blue;
    font-size: 38px;
    font-weight: bold;
}

.label_quote {
    color: $blue;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: normal;
}

.date {
    all: unset;
    background-color: $widget-background;
    padding: 33px 27px 27px 27px;
    border-radius: 12px;
    color: $blue;
    font-size: 18px;
    font-style: italic;
    font-family: Cartograph CF;
    box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}

// .stats-box {
//     all: unset;
//     background-color: $widget-background;
//     padding: 20px 25px 20px 25px;
//     border-radius: 12px;
//     // box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
// }

// .stats-icon {
//     font-size: 28px;
//     color: $red;
//     font-family: JetBrainsMono Nerd Font Mono;
// }

scale trough {
    //all: unset;
    background-color: $scale-trough;
    //box-shadow: 0 2px 3px 2px $shadow;
    border-radius: 1em;
    min-height: 1em;
    //min-width: 70px;
    highlight {
      background-image: $scale-highlight;
      border-radius: 1em;
    }

    slider {
color: $primary;
background-color: $primary;
min-width: 1em;
min-height: 1em;
border-radius: 100%;
    }
}

.buttons {
    opacity: 1;
    background-color: $widget-background;
    border-radius: 12px;
    padding: 15px;
    font-family: JetBrainsMono Nerd Font Mono;
    // margin-bottom: 30px;
    // box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}


.poweroff,
.reboot,
.firmware,
.exit,
.restart {
    margin:  0px;
    padding: 8px 12px;
    padding-right: 20px;
    font-family: mononoki Nerd Font;
    font-size: 28px;
    background-color: $primary;

    border-radius: 16px 8px;
}

.poweroff {
    background-color: $red;
    color: $widget-background;
}

.reboot {
    background-color: $green;
    color: $widget-background;
}

.exit {
    background-color: $yellow;
    color: $widget-background;
}

.firmware {
    color: $primary;
    background-color: $background;
}

.restart {
    color: $primary;
    background-color: $background;
}

.fetch {
    font-size: 20px;
    border-radius: 12px;
    background-color: $widget-background;
    padding: 30px 55px 30px 55px;
    // box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}

.wm {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: $primary;
}

.host {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: $primary;
}

.uptime {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: $primary;
}

.packages {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: $primary;
}

.kernal {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: $primary;
}

.notification {
    all: unset;
    background-color: $widget-background;
    padding: 20px 25px 20px 17px;
    margin: 0px 15px 0px 15px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: $primary;
}

.notification-header {
    all: unset;
    background-color: $widget-background;
    padding: 20px 25px 20px 17px;
    margin: 20px 15px 10px 15px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: $primary;
}

.notification-icon {
    color: $white;
    font-size: 36px;
    margin: 0px 20px 0px 10px;
}

.notification-appname {
    font-family: "Inter Nerd Font";
    font-size: 14px;
    font-weight: bold;
    color: $orange;
}

.notification-summary {
    font-family: "Inter Nerd Font";
    font-size: 18px;
    font-weight: bold;
    color: $white;
}

.notification-body {
    font-family: "Inter Nerd Font";
    font-size: 14px;
    color: $white;
}

.notification-label {
    font-family: "Mononoki Nerd Font";
    font-size: 30px;
    color: $blue;
    margin: 0px 50px 0px 0px;
}

.notification-action {
    font-family: "Mononoki Nerd Font";
    font-size: 36px;
    color: $white;
    margin: 0px 0px 0px 20px;
}
